@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$font-family-base: 'Libre Franklin', sans-serif;

$theme-colors: (
  "primary": #1390B7,
  "secondary": #9B0047,
  "light-blue": #E1E8EA,
  "light": #eee,
  "dark-bg": #273945,
  "border": #ccc,
  "nav-inactive": #777,
  "ui-element": #999,
);

/* Override rounded corners globally */
$border-radius:               0px;
$border-radius-lg:            0px;
$border-radius-sm:            0px;

@import "bootstrap/bootstrap";

i.toggle-card {
  position: absolute;
  right: 2%;
  top: 0;
  color: theme-color("ui-element");
  font-size: 3.6em;

  &:hover {
    cursor: pointer;
  }
}

