@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$font-family-base: 'Libre Franklin', sans-serif;

$theme-colors: (
  "primary": #1390B7,
  "secondary": #9B0047,
  "light-blue": #E1E8EA,
  "light": #eee,
  "dark-bg": #273945,
  "border": #ccc,
  "nav-inactive": #777,
  "ui-element": #999,
);

/* Override rounded corners globally */
$border-radius:               0px;
$border-radius-lg:            0px;
$border-radius-sm:            0px;

// theme colors from VIT
$white:      #ffffff;
$gray-100:   #eeeeee;
$gray-200:   #F5F6F7;
$gray-500:   #475A66;
$blue-500:   #007AAA;
$off-white:  #F9F9F9;

@import "bootstrap/bootstrap";

i.toggle-card {
  position: absolute;
  right: 2%;
  top: 0;
  color: theme-color("ui-element");
  font-size: 3.6em;

  &:hover {
    cursor: pointer;
  }
}

.border-active {
    border: 2px solid #1390B7 !important;
}

.squared-logo {
    max-width: 50px;
    max-height: 50px;
}

.vip-logo {
    width: 50px;
    height: 49px;
}

.h-25-static {
    height: 25px;
}

.h-50-static {
    height: 50px;
}

.h-150-static {
    height: 150px;
}

.selected-border {
    border: 5px solid black;
}

._vit_code_copy {
  position: absolute;
  left: -1000%;
}

#live_preview {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: $blue-500;
  color: $white;
  font-size: 16px;
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  padding: 12px;
  border-radius: 2px;
  border: 0;

  &:hover {
    background-color: darken($blue-500, 3%);
  }

  @media screen and (max-width: 440px) {
    font-size: 14px;
    padding: 10px;
  }
}

.inline {
  display: inline-block;
}

.left {
  margin-right: 1rem;
}

#reload_preview {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
